<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About | Sandeep Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='about.css')}}">
</head>
<body>
  <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
  <h2>About Me</h2>
  <nav class="about-container">
    <p>
      I'm M Sandeep Kumar, a web developer who loves working with clean and efficient code. I enjoy building full-stack applications and learning new technologies to enhance user experience and performance.
    </p>
  </nav>

  <h2 style="text-align:center; margin-top: 40px;">Education</h2>
  <nav class="education-container">
    <nav class="education-card">
      <h3>School</h3>
      <p>Little Birds High School</p>
    </nav>
    <nav class="education-card">
      <h3>Intermediate</h3>
      <p>Narayana Junior College</p>
      <p>Stream: M.P.C</p>
    </nav>
    <nav class="education-card">
      <h3>Degree</h3>
      <p>Loyola Academy, Alwal</p>
      <p>B.Sc. Computer Science and Information Technology (CSIT)</p>
    </nav>
  </nav>

  <nav class="footer">
    <p>&copy; 2025 M Sandeep Kumar</p>
  </nav>
</body>
</html>