<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}">
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <nav id="contact" class="section">
        <h2>Contact</h2>
    <nav class="contact-details">
        <p><strong> Name:</strong> M Sandeep kumar</p>
        <p><strong>Email:</strong> makusandeep083@gmail.com</p>
        <p><strong>Mobile number:</strong>6281495048</p>
        <p><strong>Location:</strong>Malkajgiri Hyderabad</p>
    </nav>
    </nav>
</body>
</html>