<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/index.css">  
</head>
<body>
 <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>


    
    <div class="left-image">
        <img src="/static/profile.jpeg" class="profile" alt="My Photo">
    </div>

    
    <div class="center-text">
        <h1>Welcome to My Portfolio Website</h1>
      </div>
<p class="intro"> Hi, I'm M Sandeep Kumar a passionate learner and aspiring developer.
  I love building websites and learn new technologies
  Welcome to my personal space where you can get access to my projects and all.
               Thank you for being here 
</p>


</body>
</html>