<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project | Sandeep Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>
<body>
  <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

  <h2 style="text-align:center; margin-top: 40px;">My Project</h2>

  <nav class="project-container">
    <nav class="project-card">
      <h3>YouTube Video Recommender System</h3>
      <p>
        This project helps users find the top and most relevant YouTube videos.<br> It uses engagement metrics like views, likes, and comments to recommend trending and personalized content, improving video discovery experience.
      </p>
    </nav>
  </nav>

  
</body>
</html>